<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="/images/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="/styles.css" rel="stylesheet" type="text/css">
        <% if (currentLocale === 'default') { %>
        <script>
            if (!document.cookie.split(';').some(x => x.trim().startsWith('visited')))
            {
                var language = navigator.language || navigator.userLanguage
                document.cookie += "visited=1"
                <% locales.filter(l => l !== "default").forEach(function(locale) { %>
                    if (language.startsWith("<%- locale %>")) window.location.replace("/<%- locale%>.html")
                <% }) %>
            }
        </script>
        <% } %>
        <title><%- __.title %></title>
    </head>
    <body>
        <div class="Container HeaderContainer">
            <div class="Inner">
                <video autoplay muted loop preload="auto">
                    <source type="video/webm" src="/images/header.webm">
                    <source type="video/mp4" src="/images/header.mp4">
                </video>
                <div class="VideoMask"></div>
                <div class="HeaderTitle">
                    <h1><%- __.title_line1 %></h1>
                    <h2><%- __.title_line2 %></h1>
                </div>
                <span class="LocalizationList">
                    <% locales.forEach(function(locale) {
                        if (currentLocale === locale) { %>
                            <div><%- __[`locale_${locale}`] %></div>
                        <% } else { %>
                            <a href="/<%= locale === 'default' ? '' : locale + '.html' %>"><%- __[`locale_${locale}`] %></a>
                        <% }
                    }) %>
                </span>
            </div>
        </div>
        <div class="Container IntroductionContainer">
            <div class="Inner">
                <h2><%- __.introduction %></h3>
                <%- md(__.introduction_text) %>
            </div>
        </div>
        <% (__.complains || []).forEach(function(complains) { %>
            <div class="Container ComplainContainer">
                <div class="Inner">
                    <h2><%- complains.title %></h2>
                    <div>
                        <video autoplay muted loop preload="auto">
                            <source type="video/webm" src="<%- complains.video + '.webm' %>">
                            <source type="video/mp4" src="<%- complains.video + '.mp4' %>">
                        </video>
                    </div>
                    <%- md(complains.text) %>
                </div>
            </div>
        <% }) %>
        <div class="Container ContactsContainer">
            <div class="Inner">
                <h3><%- __.what_you_can_do %></h3>
                <%- md(__.what_you_can_do_text) %>
                <div class="Cards">
                    <% (__.contacts || []).forEach(function(contact) { %>
                        <div class="Card">
                            <a rel="noreferrer" target="_blank" href="<%- contact.href %>">
                                <img src="<%- contact.image %>">
                                <h4><%- contact.text %></h4>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>

        <div class="Container container_developers">
            <div class="container_developers__header">
                <div class="Inner">
                    <h1><%- __.developers_title %></h1>
                </div>
            </div>
            <div class="container_developers__list">
                <div class="Inner">
                    <% (__.developers || []).forEach(function(developer) { %>
                        <div class="developer">
                            <img class="developer__hero" src="http://cdn.dota2.com/apps/dota2/images/heroes/abaddon_sb.png">
                            <div class="developer__name-and-flag">
                                <h3><%- developer.name %></h3>
                                <img src="<%- `http://steamcommunity-a.akamaihd.net/public/images/countryflags/${developer.flag}.gif` %>">
                            </div>
                            <div class="developer__made">
                                <%- md(developer.made) %>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
</html>
